[submodule "crates/a0b-tools"]
	path = crates/a0b-tools
	url = https://github.com/godunko/a0b-tools.git
	branch = main
[submodule "crates/xtensa-dynconfig"]
	path = crates/xtensa-dynconfig
	url = git@github.com:RREE/xtensa-dynconfig.git
	branch = main
[submodule "crates/espidf_gnat_runtime"]
	path = crates/espidf_gnat_runtime
	url = https://github.com/godunko/espidf_gnat_runtime.git
	branch = main
[submodule "crates/bb-runtimes"]
	path = crates/bb-runtimes
	url = https://github.com/alire-project/bb-runtimes.git
	branch = gnat-fsf-15
